<nav class="navbar navbar-expand-lg justify-content-between">
			<span class="icon-home" style="font-size: 5px;"></span>
			<ul class="navbar-nav align-self-center">
				<li class="nav-item">
					<%= link_to "Home", projects_path %>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Latest activity</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Pings</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Hey!</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Campfires</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Reports</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Find</a>
				</li>
			</ul>
			<ul class="navbar-nav align-self-center">
				<li class="nav-item navbar-profile-icon">
					<a class="nav-link" href="#"> X </a>
				</li>
			</ul>
</nav>