<div class="container">
	<div class="home-header row">
		<div class="col">
			<%= link_to 'New Project', new_project_path %>
		</div>
		<div class="col-6">
			<h2> Projects </h2>
		</div>
		<div class="col">
			<button> ... </button>
		</div>
	</div>
	
	<!-- <div class="home-reusable-template row">
		<div class="col">
			<h2>
			Do the same sort of Projects over and over? <a href="#">Make a reusable template</a> to save yourself some time.
			</h2>
		</div>
	</div> -->
	<% @projects.each do |project| %>
	<tr>
		<td><%= project.title %></td>
		<td><%= project.description %></td>
		<td><%= link_to 'Show', project_path(project) %></td>
	</tr>
	<% end %>
