.navbar.navbar-expand-lg.justify-content-between {
    background-color: rgba(251, 248, 245, 0.98);
    border-bottom: rgba(0,0,0,0.1);

    a {
		color: black;
				
    }
    a:hover{
    	color:grey;
    }
}